body {
    /* bg color */
    background: #ddd;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}
.content {
    margin: auto;
    max-width: 720px;
    width: 100%;

}

iframe {
    max-width: 100%;
}

.screenshot {
    padding: 10px 0;
}

.download-content {
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    /* link color */
    color: #ff0000;
}
a:hover {
    /* link color */
    color: #ff00ff;
}

.company-logo {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-menu {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.footer-menu li {
    display: inline-block;
}


.press-content h1,
.press-content h2,
.press-content h3,
.press-content h4,
.press-content h5,
.press-content h6 {
    padding: 5px;
}
.press-content table {
    padding: 5px;
}
.press-content p {
    padding: 5px;
}

.press-content table {
    border: 0;
}
.press-content table th,
.press-content table td {
    border: 0;
}

.press-content table thead {
    display: none;
}


@media only screen and (min-width: 720px) {
    /*body { background-color: red; }*/

    .press-content h1,
    .press-content h2,
    .press-content h3,
    .press-content h4,
    .press-content h5,
    .press-content h6 {
        padding: 0;
    }
    .press-content table {
        padding: 0;
    }
    .press-content p {
        padding: 0;
    }

}
