{% extends 'layout.j2' %}

{% block content %}
<!-- Add your site or application content here -->
<h1>Toy Clash</h1>

<p>
    TODO
</p>

<iframe width="960" height="540" src="https://www.youtube.com/embed/i8PdpbXy2W8" frameborder="0" allowfullscreen></iframe>

<h2>Screenshots</h2>
<a href="./img/screenshots/full_01.png">
    <img src="./img/screenshots/resize_01.jpg" class="screenshot"/>
</a>
<a href="./img/screenshots/full_02.png">
    <img src="./img/screenshots/resize_02.jpg" class="screenshot"/>
</a>
<a href="./img/screenshots/full_03.png">
    <img src="./img/screenshots/resize_03.jpg" class="screenshot"/>
</a>
<a href="./img/screenshots/full_04.png">
    <img src="./img/screenshots/resize_04.jpg" class="screenshot"/>
</a>
<a href="./img/screenshots/full_05.png">
    <img src="./img/screenshots/resize_05.jpg" class="screenshot"/>
</a>

<p>
    Get Toy Clash now

    TODO gear vr link
</p>
{% endblock %}
