{% extends 'layout.j2' %}

{% block header %}
<h1 hidden>Toy Clash</h1>
<header>
  <section class="underlay">
    <div class="overlay">
      <div class="game-logo">
        <img src="/img/logos/resized-logo.png"/>
      </div>

      <a href="#" class="play-trailer">
        <img src="/img/index/moviebt.png"/>
      </a>

      <div class="download">
        <p class="upper-case">
          Get it now for
        </p>

        <a href="https://oculus.com/experiences/gear-vr/1407846952568081" class="anchor" target="_blank">
          <img src="/img/index/gearvr.png" class="pure-img store-logo store-logo-gearvr" alt="gear vr store/">
        </a>

        <!-- Google Play badge https://play.google.com/intl/en_us/badges/ -->
        <a href="https://play.google.com/store/apps/details?id=com.fiveminlab.toyclash.daydream" class="anchor" target="_blank">
          <img src="/img/index/en_badge_web_generic.png" class="pure-img store-logo store-logo-daydream" alt="google play for daydream version/">
        </a>
      </div>
    </div>
  </section>
</header>

<section class="trailer-video">
  <div class="video-wrapper">
  <iframe width="640" height="390" class="youtube-player-iframe"
    src="https://www.youtube.com/embed/i8PdpbXy2W8?enablejsapi=1&version=3&playerapiid=ytplayer"
    allowscriptaccess="always"
    frameborder="0" allowfullscreen></iframe>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc index-desc-large">
      <span class="upper-case">
      Get ready for a fierce battle of cute toys on table-top!
      </span>
    </p>
  </div>
</div>

<div class="pure-g popup-gallery">
  <div class="pure-u-1">
    <a href="/img/screenshots/resize_large_01.jpg" title="">
      <img src="/img/screenshots/resize_01.jpg" class="pure-img screenshot"/>
    </a>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc">
      Use your mighty magic and unique toys to stop annoying opponents from making disturbance.
    </p>
  </div>
</div>

<div class="pure-g popup-gallery">
  <div class="pure-u-1 pure-u-sm-1-2">
    <a href="/img/screenshots/resize_large_02.jpg" title="">
      <img src="/img/screenshots/resize_02.jpg" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2">
    <a href="/img/screenshots/resize_large_03.jpg" title="">
      <img src="/img/screenshots/resize_03.jpg" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2">
    <a href="/img/screenshots/resize_large_04.jpg" title="">
      <img src="/img/screenshots/resize_04.jpg" class="pure-img screenshot"/>
    </a>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2">
    <a href="/img/screenshots/resize_large_05.jpg" title="">
      <img src="/img/screenshots/resize_05.jpg" class="pure-img screenshot"/>
    </a>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="index-desc">
      Toy Clash is a tower offense game that uses toys to prevent the attack of enemies and further more breaks down their towers.
      Upgrade your toys and win battle with your own strategy.
    </p>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h2 class="index-desc upper-case">
      Features
    </h2>
  </div>
</div>

<div class="pure-g">
  <ul class="pure-u-1 list-features">
    <li class="">32 challenging stages</li>
    <li class="">6 unique toy units, 6 powerful spells</li>
    <li class="">Challenge all missions and collect 96 stars.</li>
  </ul>
</div>

<footer class="pure-g content footer-head">
  <ul class="pure-u-1">
    <li class="upper-case">
      Like Our <a href="https://www.facebook.com/toyclashvr/" class="upper-case">Page!</a>
    </li>
    <li class="upper-case">
      Need Support? <a href="mailto:helpers@5minlab.com" class="upper-case">Mail us</a>
    </li>
    <li class="upper-case">
      For business enqueries <a href="mailto:contact@5minlab.com" class="upper-case">Here</a>
    </li>
    <li class="upper-case">
      Press kit: <a href="{{ press_link }}" class="upper-case">Toy Clash Press Kit</a>
    </li>
    <li class="upper-case">
      Go back to 5minlab <a href="https://5minlab.com" class="upper-case">Homepage</a>
    </li>
  </ul>
</footer>
{% endblock %}
